<h1>logo</h1>
<h2>info del perfil del usuario: <%= user %></h2>
<h2>carrousel de imagenes para seleccionar el fondo del insulto</h2>
<h2>Tipo de insulto??</h2>
<h2>Destinatario</h2>
<h2>Boton crea tu insulto -> te envía a home</h2>
<a href="/home"><h2>go home?</h2></a>