<div class="container-first">
<img class="logo" src="./images/logo-off.png">
<h3>Bienvenido moderfucker <%= name %>, crea tu ofensa</h3>
<h5>Selecciona una imagen</h5>
</div>
<form action="/createnew" method="POST">
    <div id="carouselExampleControls" data-interval="false" class="carousel slide" data-ride="carousel">
        <div class="select"></div>
        <div class="carousel-inner">
            <input name="img" id="actualImg" hidden value="a">
        </div>
        <div class="select-contain">
        <select class="selcls" id="Sexo" name="sexo"> 
            <option value="hombre">Hombre</option>
            <option value="mujer">Mujer</option>
            <option value="sexo" selected>Indiferente</option>
            
        </select>
        <select class="selcls" id="Guapo" name="character">
            <option value="feo">Feo</option>
            <option value="tonto">Tonto</option>
            <option value="character" selected>Indiferente</option>
            
        </select>
        <select class="selcls" id="Complex" name="complex">
            <option value="gordo">Gordo</option>
            <option value="flaco">Flaco</option>
            <option value="complex" selected>Indiferente</option>
            
        </select>
        <select class="selcls" id="Color" name="color">
            <option value="blanco">Blanco</option>
            <option value="negro">Negro</option>
            <option value="color" selected>Indiferente</option>
            
        </select>
    </div>
     <div class="container-correo">
        <h5>Objetivo de tu Ira(correo)</h5>
        <input  id ="namet" type="text" name="name" >
        <button type="submit" class="btn btn-primary btn-sm btn-summit-user"><i class="fas fa-envelope"></i></button>
        </div>
    </div>
    </form>
    <br>
    <div class="btn-home">
    <button type="button" class="btn btn-primary btn-sm btn-home-summit"><a href="/home" style='text-decoration:none;color:white;'>
        <h2><i class="fas fa-home"></i></h2>
    </a></button>
</div>

