<h1>logo</h1>
<h2>info del perfil del usuario:
    <%= user %>
</h2>
<h2>carrousel de imagenes para seleccionar el fondo del insulto</h2>
<form action="/createnew" method="POST">
    <div id="carouselExampleControls" data-interval="false" class="carousel slide" data-ride="carousel">
        <h2>Tipo de insulto??</h2>
        <div class="carousel-inner">
            <input name="img" id="actualImg" hidden value="a">
        </div>
        <select id="Sexo" name="sexo">
            <option value="hombre">Hombre</option>
            <option value="mujer">Mujer</option>
            <option value="sexo" selected>Indiferente</option>
            
        </select>
        <select id="Guapo" name="character">
            <option value="feo">Feo</option>
            <option value="tonto">Tonto</option>
            <option value="character" selected>Indiferente</option>
            
        </select>
        <select id="Complex" name="complex">
            <option value="gordo">Gordo</option>
            <option value="flaco">Flaco</option>
            <option value="complex" selected>Indiferente</option>
            
        </select>
        <select id="Color" name="color">
            <option value="blanco">Blanco</option>
            <option value="negro">Negro</option>
            <option value="color" selected>Indiferente</option>
            
        </select>
        <h2>Destinatario</h2>
        <input  id ="namet"type="text" name="name">
        <button>Submit</button>
    </form>
    <br>
<a href="/home">
    <h2>go home</h2>
</a>
