<h1>logo</h1>
<h2>info del perfil del usuario:
    <%= user %>
</h2>
<h2>carrousel de imagenes para seleccionar el fondo del insulto</h2>
<form action="/createnew" method="POST">
    <div id="carouselExampleControls" data-interval="false" class="carousel slide" data-ride="carousel">
        <h2>Tipo de insulto??</h2>
        <div class="carousel-inner">
            <input name="img" id="actualImg" hidden value="a">
        </div>
        <select id="Sexo" name="sexo">
            <option value="0">Hombre</option>
            <option value="1">Mujer</option>
            <option value="2" selected>Indiferente</option>
            
        </select>
        <select id="Guapo" name="guapo">
            <option value="0">Feo</option>
            <option value="1">Tonto</option>
            <option value="2" selected>Indiferente</option>
            
        </select>
        <select id="Complex" name="complex">
            <option value="0">Gordo</option>
            <option value="1">Flaco</option>
            <option value="2" selected>Indiferente</option>
            
        </select>
        <select id="Color" name="color">
            <option value="0">Blanco</option>
            <option value="1">Negro</option>
            <option value="2" selected>Indiferente</option>
            
        </select>
        <h2>Destinatario</h2>
        <input  id ="namet"type="text" name="name">
        <button>Submit</button>
    </form>
    <br>
<a href="/home">
    <h2>go home</h2>
</a>
