<div class="row">
    <div class="col">
        <img src="../images/logo-off-horizontal.png">
    </div>
    <div class="col-6"></div>
    <div class="col">
        <p>Nombre de usuario</p>
    </div>
</div>
<a href="/">Go home</a>
<div>
    <p>mirar en la BBDD como nos traemos los creados por nosotros</p>
</div>
<div>
    <p>mirar en la bbdd como nos traemos los que somos el destinatario</p>
</div>

