<div class="container-first">
    <img class="logo" src="../images/logo-off.png">
    <h2>Este es tu historial de ofensas:
        <%= name %>
    </h2>

    <div class="container">
        <div class="row">
            <% if (relationc.length>0) { %>
                <% relationc.forEach((rc)=>{ %>
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" height="300" width="150" src="<%= rc.offense_Id.img %>">
                            <div class="card-body">
                                <p class="card-text">
                                    <p>Enviado a: </p>
                                    <p>
                                        <%=rc.destination_Id%>
                                    </p>
                                    <div class="btn-home">
                                            <button type="button" class="btn btn-primary btn-sm btn-logout-summit">
                                                    <a href="/offense/delete/<%=rc._id%>" style='text-decoration:none;color:white;'>
                                                <h2>
                                                    <i class="fas fa-trash-alt"></i>
                                                </h2>
                                            </a>
                                        </button>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <%}) %>
                        <%}%>
        </div>
    </div>
</div>
<br>
<div class="btn-home">
    <button type="button" class="btn btn-primary btn-sm btn-home-summit">
        <a href="/home" style='text-decoration:none;color:white;'>
            <h2>
                <i class="fas fa-home"></i>
            </h2>
        </a>
    </button>
</div>