<div class="row">
    <div class="col">
        <img src="../images/logo-off-horizontal.png">
    </div>
    <div class="col-6"></div>
    <div class="col">
        <p>Nombre de usuario</p>
    </div>
</div>
<a href="/">Go home</a>
<h2>User_Id:
    <%= user %>
</h2>
<div class="row">
    <h3>creados por mi</h3>
    <div>
        <% if (relationc.length>0) { %>
            <%= relationc %>
            <a href="delete/<%=relationc[0]._id%>" type="button" class="btn btn-danger">Delete</a>
        <%}%>
    </div>
</div>
<div class="row">
    <h3>destinatario yo</h3>
    <div>
        <%= relationd %>
    </div>
</div>